@font-face {
  font-family: "shrikhandregular";
  src: url("../../fonts/shrikhand-regular-webfont.woff2") format("woff2"), url("../../fonts/shrikhand-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "roboto";
  src: url("../../fonts/roboto-regular-webfont.woff2") format("woff2"), url("../../fonts/roboto-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: roboto, sans-serif;
  box-sizing: border-box;
}

:root {
  font-size: 12px;
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.pinkbutton {
  text-decoration: none;
  width: 220px;
  height: 50px;
  background: linear-gradient(135deg, #ec73da, #a05adc);
  border-radius: 25px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.3rem;
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 55px;
  text-align: center;
  transform: scale(1);
  transition: transform 600ms;
}
.pinkbutton:hover {
  transform: scale(1.1);
}

header {
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header h1 {
  font-family: shrikhandregular, serif;
  text-align: center;
  font-size: 2.4rem;
  background: white;
}
header .fa-arrow-left {
  position: absolute;
  top: 25px;
  left: 25px;
  font-size: 1.5rem;
  color: black;
}
header main {
  background: #f6f6f6;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
header main p {
  padding: 15px;
  margin-top: -4px;
  background: #eaeaea;
  font-size: 1.3rem;
  font-weight: bold;
  border-top: 3px solid #cecece;
  width: 100%;
  height: 55px;
}
header main h2 {
  font-size: 2rem;
  font-weight: bolder;
  padding: 0px 60px;
  background: #f6f6f6;
  margin: 0;
}
header main #descript {
  font-size: 1.4rem;
  padding: 20px 30px;
}
header main i {
  color: #353535;
  padding-right: 10px;
  text-align: center;
  font-size: 1.3rem;
}

#fonction {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#fonction__title {
  align-self: flex-start;
  margin-left: 20px;
  margin-top: 50px;
  font-size: 2rem;
}

.blacklink {
  text-decoration: none;
  color: black;
}

.fonction__button {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 325px;
  height: 75px;
  background: #f6f6f6;
  -moz-box-shadow: 0px 0px 15px #d4d4d4;
  -webkit-box-shadow: 0px 0px 15px #d4d4d4;
  box-shadow: 0px 0px 15px #d4d4d4;
  margin-bottom: 25px;
  position: relative;
  border-radius: 15px;
  transform: scale(1);
  transition: transform 800ms;
}
.fonction__button:hover {
  background: #fafafa;
  transform: scale(1.05);
  -moz-box-shadow: 0px 0px 15px #a5a5a5;
  -webkit-box-shadow: 0px 0px 15px #a5a5a5;
  box-shadow: 0px 0px 15px #a5a5a5;
}
.fonction__button:hover i {
  color: #9356dc;
}
.fonction__button-number {
  width: 24px;
  height: 24px;
  background: #9356dc;
  border-radius: 12px;
  position: absolute;
  top: 28px;
  left: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fonction__button-number p {
  color: white;
  font-size: 1.2rem;
}
.fonction__button-logo {
  margin-left: 40px;
  color: #7e7e7e;
  font-size: 1.8rem;
}
.fonction__button-text {
  font-size: 1.1rem;
  margin-left: 25px;
}

.restaurants {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #f6f6f6;
  margin-top: 45px;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
}
.restaurants h2 {
  align-self: flex-start;
  margin-left: 20px;
  margin-top: 50px;
  font-size: 2rem;
}
.restaurants__sample {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 335px;
  height: 250px;
  margin-bottom: 18px;
  border-radius: 15px;
  -moz-box-shadow: 0px 0px 15px #d4d4d4;
  -webkit-box-shadow: 0px 0px 15px #d4d4d4;
  box-shadow: 0px 0px 15px #d4d4d4;
}
.restaurants__sample:hover {
  -moz-box-shadow: 0px 0px 15px #a5a5a5;
  -webkit-box-shadow: 0px 0px 15px #a5a5a5;
  box-shadow: 0px 0px 15px #a5a5a5;
}
.restaurants__sample-pic {
  width: 335px;
  height: 175px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  object-fit: cover;
}
.restaurants__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.restaurants__title-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 15px;
  height: 50px;
  margin-top: -10px;
}
.restaurants__title-text h3 {
  font-size: 1.4rem;
}
.restaurants__title-text p {
  font-size: 1.4rem;
  margin-top: -12px;
}
.restaurants__title-heart .far {
  align-items: center;
  align-self: center;
  font-size: 1.8rem;
  margin-right: 25px;
  margin-top: 15px;
}
.restaurants__title-heart .far:hover {
  display: none;
}
.restaurants__title-heart .fas {
  color: #9356dc;
  display: none;
  align-items: center;
  align-self: center;
  font-size: 1.8rem;
  margin-right: 25px;
  margin-top: 15px;
}

.footer {
  display: flex;
  flex-direction: column;
  background: #353535;
  color: white;
  width: 100%;
}
.footer__content {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 350px;
}
.footer__content-title {
  font-family: shrikhandregular, serif;
  font-size: 1.5rem;
  margin-left: 25px;
  margin-top: 30px;
}
.footer__content-nav {
  font-size: 1.3rem;
  margin-left: 25px;
  margin-top: 10px;
  line-height: 75%;
}
.footer__content-nav .fa-utensils {
  padding-right: 10px;
  font-size: 1.2rem;
}
.footer__content-nav .fa-hands-helping {
  padding-right: 5px;
  font-size: 1.1rem;
}

.header__picture {
  display: flex;
  height: 260px;
}
.header__picture img {
  object-fit: cover;
  max-height: 100%;
  width: 100%;
  z-index: -10;
}

.menupage {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f6f6f6;
  border-top-right-radius: 35px;
  border-top-left-radius: 35px;
  margin-top: -50px;
}
.menupage__head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}
.menupage__head-title {
  margin-left: 20px;
}
.menupage__head-title h2 {
  font-family: shrikhandregular, serif;
  font-size: 2.2rem;
}
.menupage__head-heart .far {
  align-items: center;
  align-self: center;
  font-size: 2rem;
  margin-right: 40px;
  margin-top: 20px;
}
.menupage__head-heart .far:hover {
  display: none;
}
.menupage__head-heart .fas {
  color: #9356dc;
  display: none;
  align-items: center;
  align-self: center;
  font-size: 2rem;
  margin-right: 40px;
  margin-top: 20px;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title__blueline {
  display: flex;
  height: 3px;
  width: 40px;
  margin-top: -1px;
  margin-left: 20px;
  background-color: #99e2d0;
}

.menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 40px;
  overflow: hidden;
}
.menu h2 {
  margin-left: 20px;
  margin-top: 2px;
  margin-bottom: 5px;
  font-size: 1.4rem;
}
.menu__sample {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: white;
  margin-top: 15px;
  margin-left: 14px;
  margin-right: 14px;
  border-radius: 12px;
  -moz-box-shadow: 0px 0px 15px #d4d4d4;
  -webkit-box-shadow: 0px 0px 15px #d4d4d4;
  box-shadow: 0px 0px 15px #d4d4d4;
  height: 70px;
  overflow: hidden;
}
.menu__sample h3 {
  font-size: 1.4rem;
  margin-left: 10px;
  margin-top: 11px;
  margin-bottom: -11px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu__sample-descript {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.menu__sample-descript p {
  font-size: 1.2rem;
  margin-left: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu__sample-descript h3 {
  font-size: 1.2rem;
  margin-right: 20px;
  margin-top: 14px;
}

#command__button {
  margin-bottom: 30px;
}

/*# sourceMappingURL=style.css.map */
