* {
  font-family: roboto, sans-serif;
  box-sizing: border-box;
}

:root {
  font-size: 12px;
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 1;
}

.loader {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 200;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.8;
  animation: hide;
  animation-duration: 2s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  background-color: #9356dc;
}
@keyframes hide {
  0% {
    width: 100%;
    height: 100%;
  }
  99% {
    opacity: 0.8;
    background-color: transparent;
    width: 100%;
    height: 100%;
  }
  100% {
    opacity: 0;
    width: 0%;
    height: 0%;
  }
}

#loader-7 {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#loader-7 span:nth-child(1) {
  animation: temp 1s 0.05s 3 cubic-bezier(0.005, 0.56, 0.58, 1.59);
  width: 17.5px;
  height: 17.5px;
  margin: 0 2px;
}

#loader-7 span:nth-child(2) {
  animation: temp 1s 0.1s 3 cubic-bezier(0.005, 0.56, 0.58, 1.59);
  width: 17.5px;
  height: 17.5px;
  margin: 0 2px;
}

#loader-7 span:nth-child(3) {
  animation: temp 1s 0.15s 3 cubic-bezier(0.005, 0.56, 0.58, 1.59);
  width: 17.5px;
  height: 17.5px;
  margin: 0 2px;
}

#loader-7 span:nth-child(4) {
  animation: temp 1s 0.2s 3 cubic-bezier(0.005, 0.56, 0.58, 1.59);
  width: 17.5px;
  height: 17.5px;
  margin: 0 2px;
}

#loader-7 span:nth-child(5) {
  animation: temp 1s 0.25s 3 cubic-bezier(0.005, 0.56, 0.58, 1.59);
  width: 17.5px;
  height: 17.5px;
  margin: 0 2px;
}

#loader-7 span:nth-child(6) {
  animation: temp 1s 0.3s 3 cubic-bezier(0.005, 0.56, 0.58, 1.59);
  width: 17.5px;
  height: 17.5px;
  margin: 0 2px;
}

#loader-7 span:nth-child(7) {
  animation: temp 1s 0.35s 3 cubic-bezier(0.005, 0.56, 0.58, 1.59);
  width: 17.5px;
  height: 17.5px;
  margin: 0 2px;
}

#loader-7 span:nth-child(8) {
  animation: temp 1s 0.4s 3 cubic-bezier(0.005, 0.56, 0.58, 1.59);
  width: 17.5px;
  height: 17.5px;
  margin: 0 2px;
}

#loader-7 span:nth-child(9) {
  animation: temp 1s 0.45s 3 cubic-bezier(0.005, 0.56, 0.58, 1.59);
  width: 17.5px;
  height: 17.5px;
  margin: 0 2px;
}

#loader-7 span:nth-child(10) {
  animation: temp 1s 0.5s 3 cubic-bezier(0.005, 0.56, 0.58, 1.59);
  width: 17.5px;
  height: 17.5px;
  margin: 0 2px;
}

#loader-7 span:nth-child(11) {
  animation: temp 1s 0.55s 3 cubic-bezier(0.005, 0.56, 0.58, 1.59);
  width: 17.5px;
  height: 17.5px;
  margin: 0 2px;
}

#loader-7 span:nth-child(12) {
  animation: temp 1s 0.6s 3 cubic-bezier(0.005, 0.56, 0.58, 1.59);
  width: 17.5px;
  height: 17.5px;
  margin: 0 2px;
}

#loader-7 span:nth-child(13) {
  animation: temp 1s 0.65s 3 cubic-bezier(0.005, 0.56, 0.58, 1.59);
  width: 17.5px;
  height: 17.5px;
  margin: 0 2px;
}

#loader-7 span:nth-child(14) {
  animation: temp 1s 0.7s 3 cubic-bezier(0.005, 0.56, 0.58, 1.59);
  width: 17.5px;
  height: 17.5px;
  margin: 0 2px;
}

#loader-7 span:nth-child(15) {
  animation: temp 1s 0.75s 3 cubic-bezier(0.005, 0.56, 0.58, 1.59);
  width: 17.5px;
  height: 17.5px;
  margin: 0 2px;
}

#loader-7 span:nth-child(16) {
  animation: temp 1s 0.8s 3 cubic-bezier(0.005, 0.56, 0.58, 1.59);
  width: 17.5px;
  height: 17.5px;
  margin: 0 2px;
}

#loader-7 span:nth-child(17) {
  animation: temp 1s 0.85s 3 cubic-bezier(0.005, 0.56, 0.58, 1.59);
  width: 17.5px;
  height: 17.5px;
  margin: 0 2px;
}

#loader-7 span:nth-child(18) {
  animation: temp 1s 0.9s 3 cubic-bezier(0.005, 0.56, 0.58, 1.59);
  width: 17.5px;
  height: 17.5px;
  margin: 0 2px;
}

#loader-7 span:nth-child(19) {
  animation: temp 1s 0.95s 3 cubic-bezier(0.005, 0.56, 0.58, 1.59);
  width: 17.5px;
  height: 17.5px;
  margin: 0 2px;
}

#loader-7 span:nth-child(20) {
  animation: temp 1s 1s 3 cubic-bezier(0.005, 0.56, 0.58, 1.59);
  width: 17.5px;
  height: 17.5px;
  margin: 0 2px;
}

@keyframes temp {
  50% {
    transform: scale(1, 5);
    background: #99E2D0;
  }
}
.whitelink {
  text-decoration: none;
  color: white;
}

.blacklink {
  text-decoration: none;
  color: black;
}

.pinkbutton {
  text-decoration: none;
  width: 220px;
  height: 50px;
  background: linear-gradient(135deg, #FF79DA, #9356dc);
  border-radius: 25px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.3rem;
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 55px;
  text-align: center;
  position: relative;
  overflow: hidden;
  transform: scale(1);
  transition: transform 800ms;
  box-shadow: 0px 0px 15px #d4d4d4;
}
.pinkbutton::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-radius: 1.5rem;
  background: linear-gradient(135deg, #ff93e1 -20%, #ae80e5 180%, #ff93e1 -20%, #ae80e5 180%);
  background-position: 0px 50px;
  opacity: 0;
  transition: all 1000ms ease-in;
}
.pinkbutton:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 15px #a5a5a5;
  text-shadow: 0 4px 3px #311c4b9d;
}
.pinkbutton:hover::before {
  opacity: 1;
}

.header {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}
.header svg {
  margin-top: 20px;
  margin-bottom: 20px;
}
.header .fa-arrow-left {
  position: absolute;
  top: 25px;
  left: 25px;
  font-size: 1.5rem;
  color: black;
}
.header__title {
  background: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.header__title p {
  padding: 15px;
  margin-top: -4px;
  background: #eaeaea;
  font-size: 1.3rem;
  font-weight: bold;
  border-top: 3px solid #cecece;
  width: 100%;
  height: 55px;
}
.header__title h2 {
  font-size: 2rem;
  font-weight: bolder;
  padding: 0px 60px;
  background: #f6f6f6;
  margin: 0;
}
.header__title-descript {
  font-size: 1.4rem;
  padding: 20px 30px;
}
.header__title i {
  color: #353535;
  padding-right: 10px;
  text-align: center;
  font-size: 1.3rem;
}

#fonction {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
#fonction__title {
  align-self: flex-start;
  margin-left: 20px;
  margin-top: 50px;
  font-size: 2rem;
}
@media (min-width: 768px) {
  #fonction__title {
    align-self: center;
    margin-left: 0px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 4px 15px;
    border-top: 2px solid #FF79DA;
    border-bottom: 2px solid #9356dc;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
  }
}

.fonction__button {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  height: 75px;
  background: #f6f6f6;
  box-shadow: 0px 0px 15px #d4d4d4;
  margin-bottom: 25px;
  position: relative;
  border-radius: 15px;
  transform: scale(1);
  transition: transform 800ms;
}
@media (min-width: 1024px) {
  .fonction__button {
    justify-content: center;
  }
}
.fonction__button:hover {
  background: #fafafa;
  transform: scale(1.05);
  box-shadow: 0px 0px 15px #a5a5a5;
}
.fonction__button:hover i {
  color: #9356dc;
}
.fonction__button-number {
  width: 24px;
  height: 24px;
  background: #9356dc;
  border-radius: 12px;
  position: absolute;
  top: 28px;
  left: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1024px) {
  .fonction__button-number {
    width: 44px;
    height: 44px;
    top: 18px;
    border-radius: 22px;
  }
}
.fonction__button-number p {
  color: white;
  font-size: 1.3rem;
}
@media (min-width: 1024px) {
  .fonction__button-number p {
    font-size: 1.5rem;
  }
}
.fonction__button-logo {
  margin-left: 40px;
  color: #7e7e7e;
  font-size: 1.8rem;
}
@media (min-width: 1024px) {
  .fonction__button-logo {
    margin-left: 0px;
    font-size: 2.5rem;
  }
}
.fonction__button-text {
  font-size: 1.1rem;
  margin-left: 25px;
}
@media (min-width: 1024px) {
  .fonction__button-text {
    font-size: 1.3rem;
  }
}

.restaurants {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #f6f6f6;
  margin-top: 45px;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 768px) {
  .restaurants {
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-bottom: 20px;
  }
}
@media (min-width: 1024px) {
  .restaurants {
    flex-wrap: wrap;
  }
}
.restaurants__head {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
@media (min-width: 768px) {
  .restaurants__head {
    justify-content: center;
  }
}
.restaurants__head-title {
  width: min-content;
}
.restaurants h2 {
  align-self: flex-start;
  margin-left: 20px;
  margin-top: 50px;
  font-size: 2rem;
}
@media (min-width: 768px) {
  .restaurants h2 {
    text-align: center;
    align-self: center;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 4px 15px;
    border-top: 2px solid #FF79DA;
    border-bottom: 2px solid #9356dc;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
  }
}
.restaurants__sample {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 335px;
  height: 250px;
  margin-bottom: 18px;
  border-radius: 15px;
  box-shadow: 0px 0px 15px #d4d4d4;
  position: relative;
}
@media (min-width: 768px) {
  .restaurants__sample {
    margin-bottom: 50px;
  }
}
@media (min-width: 1024px) {
  .restaurants__sample {
    width: 45%;
    flex-wrap: wrap;
  }
}
.restaurants__sample:hover {
  box-shadow: 0px 0px 15px #a5a5a5;
}
.restaurants__sample-pic {
  width: 100%;
  height: 175px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  object-fit: cover;
}
.restaurants__sample-new {
  width: 80px;
  height: 30px;
  background: #99e2d0;
  position: absolute;
  top: 12px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  color: #008766;
  border-radius: 2px;
}
.restaurants__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.restaurants__title-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 15px;
  height: 50px;
  margin-top: -5px;
}
.restaurants__title-text h3 {
  font-size: 1.4rem;
}
.restaurants__title-text p {
  font-size: 1.4rem;
  margin-top: -12px;
}
.restaurants__title-heart {
  position: relative;
}
.restaurants__title-heart .fas {
  color: #9356dc;
  align-items: center;
  align-self: center;
  font-size: 1.8rem;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
  opacity: 1;
  color: transparent;
  -webkit-background-clip: text;
}
.restaurants__title-heart .far {
  align-items: center;
  align-self: center;
  font-size: 1.8rem;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 20;
  transition: opacity 0.5s linear;
  background-color: white;
}
.restaurants__title-heart .far:hover {
  opacity: 0;
}
.restaurants__title-heartfullgradient {
  background: linear-gradient(45deg, #FF79DA 0%, #9356dc 100%);
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #353535;
  color: white;
  width: 100%;
}
.footer__content {
  display: flex;
  flex-direction: column;
  width: 350px;
}
@media (min-width: 768px) {
  .footer__content {
    width: 100%;
    align-items: center;
  }
}
.footer__content-title {
  font-family: Shrikhand, cursive, serif;
  font-size: 1.5rem;
  margin-left: 25px;
  margin-top: 30px;
}
@media (min-width: 768px) {
  .footer__content-title {
    margin-top: 15px;
    margin-left: 0px;
    font-size: 2rem;
    text-align: center;
  }
}
.footer__content-nav {
  font-size: 1.3rem;
  margin-left: 25px;
  margin-top: 10px;
  line-height: 75%;
}
@media (min-width: 768px) {
  .footer__content-nav {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-evenly;
  }
}
.footer__content-nav .fa-utensils {
  padding-right: 10px;
  font-size: 1.2rem;
}
.footer__content-nav .fa-hands-helping {
  padding-right: 5px;
  font-size: 1.1rem;
}

.header__picture {
  display: flex;
  height: 260px;
}
.header__picture img {
  object-fit: cover;
  max-height: 100%;
  width: 100%;
  z-index: -10;
}

.menupage {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f6f6f6;
  border-top-right-radius: 35px;
  border-top-left-radius: 35px;
  margin-top: -50px;
}
.menupage__head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
@media (min-width: 768px) {
  .menupage__head {
    justify-content: space-around;
  }
}
.menupage__head-title {
  margin-left: 20px;
}
.menupage__head-title h2 {
  font-family: Shrikhand, cursive, serif;
  font-size: 2.2rem;
  padding: 5px 5px;
}
@media (min-width: 768px) {
  .menupage__head-title h2 {
    border-top: 2px solid #FF79DA;
    border-bottom: 2px solid #9356dc;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 3px;
    border-top-right-radius: 3px;
    margin-top: 30px;
  }
}
.menupage__head-heart {
  position: relative;
}
.menupage__head-heart .fas {
  color: #9356dc;
  align-items: center;
  align-self: center;
  font-size: 2rem;
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 1;
  opacity: 1;
  color: transparent;
  -webkit-background-clip: text;
}
@media (min-width: 768px) {
  .menupage__head-heart .fas {
    padding: 6px 12px;
    border-top: 2px solid #FF79DA;
    border-bottom: 2px solid #9356dc;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
  }
}
.menupage__head-heart .far {
  align-items: center;
  align-self: center;
  font-size: 2rem;
  position: absolute;
  top: 30px;
  right: 30px;
  opacity: 1;
  z-index: 20;
  transition: opacity 0.5s linear;
  background-color: #f6f6f6;
}
@media (min-width: 768px) {
  .menupage__head-heart .far {
    padding: 6px 12px;
    border-top: 2px solid #FF79DA;
    border-bottom: 2px solid #9356dc;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
  }
}
.menupage__head-heart .far:hover {
  opacity: 0;
}

.fullgradient {
  background: linear-gradient(45deg, #FF79DA 10%, #9356dc 100%);
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title__blueline {
  display: flex;
  height: 3px;
  width: 40px;
  margin-top: -1px;
  margin-left: 20px;
  background-color: #99E2D0;
}

.bloc__menu {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media (min-width: 768px) {
  .bloc__menu {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 40px;
  overflow: hidden;
  opacity: 0;
}
@media (min-width: 768px) {
  .menu {
    max-width: 50%;
    padding-bottom: 20px;
  }
}
@media (min-width: 1024px) {
  .menu {
    max-width: 33%;
  }
}
.menu h2 {
  margin-left: 20px;
  margin-top: 2px;
  margin-bottom: 5px;
  font-size: 1.4rem;
}
.menu__sample {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: white;
  margin-top: 15px;
  margin-left: 14px;
  margin-right: 14px;
  border-radius: 12px;
  box-shadow: 0px 0px 15px #d4d4d4;
  height: 70px;
  overflow: hidden;
  cursor: pointer;
}
.menu__sample h3 {
  font-size: 1.4rem;
  margin-left: 10px;
  margin-top: 11px;
  margin-bottom: -11px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu__sample-descript {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  line-height: 0.7;
  margin-top: 10px;
}
.menu__sample-descript p {
  font-size: 1.2rem;
  margin-left: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-right: 10px;
}
.menu__sample-descript h4 {
  font-size: 1.2rem;
  margin-right: 20px;
  margin-top: 14px;
  transition: 1s;
}
.menu__sample-descript:hover h4 {
  margin-right: 75px;
}
.menu__sample-descript .check__icon {
  position: absolute;
  content: "";
  background: #99E2D0;
  top: -28px;
  right: -55px;
  height: 72px;
  width: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
}
.menu__sample-descript:hover .check__icon {
  right: 0rem;
}
.menu__sample-descript i {
  font-size: 1.7rem;
  color: white;
}
.menu__sample-descript:hover i {
  animation: icon-anim;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  transition: transform 500ms ease-in-out;
}
@keyframes icon-anim {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.entrees {
  animation: fondu_bas;
  animation-duration: 800ms;
  animation-fill-mode: forwards;
  transform: translateY(100px);
}
@keyframes fondu_bas {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.plats {
  animation: fondu_bas;
  animation-duration: 800ms;
  animation-fill-mode: forwards;
  animation-delay: 300ms;
  transform: translateY(100px);
}
@keyframes fondu_bas {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.desserts {
  animation: fondu_bas;
  animation-duration: 800ms;
  animation-fill-mode: forwards;
  animation-delay: 600ms;
  transform: translateY(100px);
}
@keyframes fondu_bas {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

#command__button {
  margin-bottom: 30px;
  align-self: center;
  opacity: 0;
  animation: fondu_bas;
  animation-duration: 800ms;
  animation-fill-mode: forwards;
  animation-delay: 900ms;
  transform: translateY(100px);
}
@keyframes fondu_bas {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@media (min-width: 768px) {
  #command__button {
    justify-content: center;
    margin: auto;
  }
}

/*# sourceMappingURL=style.css.map */
