@mixin box-shadow($shadows: 0px 0px 15px #d4d4d4) {
    -moz-box-shadow: $shadows;
    -webkit-box-shadow: $shadows;
    box-shadow: $shadows;
}

@mixin box-shadow-hover($shadows: 0px 0px 15px #a5a5a5) {
    -moz-box-shadow: $shadows;
    -webkit-box-shadow: $shadows;
    box-shadow: $shadows;
}


 // Tablets
 @mixin md {
    @media (min-width: #{$screen-md-min}) {
        @content;
    }
 }
  
 // Desktop and large devices
 @mixin lg {
    @media (min-width: #{$screen-lg-min}) {
        @content;
    }
 }