@import "./Base/fonts.scss";
@import "./Layout/header.scss";
@import "./Abstracts/variables.scss";
@import "./Abstracts/mixins.scss";

* {
    font-family: roboto , sans-serif ;
}
:root {
    font-size: 12px;
}


body {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    h1 {
        font-family: $fontohmyfood;
        text-align: center;
        font-size: 2.4rem;
        background: rgb(255, 255, 255);
    }

    main {
        background: $primary;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        p {
        padding: 15px;
        margin-top: -4px;
        background: #eaeaea;
        font-size: 1.3rem;
        font-weight: bold;
        border-top: 3px solid #cecece;
        width: 100%;
        height: 25px;
        }
        h2 {
            font-size: 2rem;
            font-weight: bolder;
            padding: 0px 60px;
            background: $primary;
            margin: 0;
        }
        #descript {
            font-size: 1.4rem;
            padding: 20px 30px;
        }
        i {
            color: #353535;
            padding-right: 10px;
            text-align: center;
            font-size: 1.3rem;
        }

        a {
            text-decoration: none;
        }
    }
}

#headbutton {
    width: 220px;
    height: 50px;
    background: linear-gradient(135deg, #ec73da, #a05adc);
    border-radius: 25px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.3rem;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 55px;
}
        
#fonction {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        align-self: flex-start;
        margin-left: 20px;
        margin-top: 50px;
        font-size: 2rem;
    }
}

.blacklink {
    text-decoration: none;
    color: black;
}

.fonction__button {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 325px;
    height: 75px;
    background: $primary;
    @include box-shadow;
    margin-bottom: 25px;
    position: relative;
    border-radius: 15px;

    &:hover {
        background: #fafafa;
        @include box-shadow-hover;

        i {
            color: $secondary;
        }
    }

    &-number {
        width: 24px;
        height: 24px;
        background: $secondary;
        border-radius: 12px;
        position: absolute;
        top: 28px;
        left: -10px;
        display: flex;
        justify-content: center;
        align-items: center;

        p {
            color: white;
            font-size: 1.2rem;
        }
    }

    &-logo {
        margin-left: 40px;
        color: #7e7e7e;
        font-size: 1.8rem;
    }

    &-text {
        font-size: 1.1rem;
        margin-left: 25px;
    }
}


.restaurants {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: $primary;
    margin-top: 45px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;

    h2 {
        align-self: flex-start;
        margin-left: 20px;
        margin-top: 50px;
        font-size: 2rem;
    }

    &__sample {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 335px;
        height: 250px;
        margin-bottom: 18px;
        border-radius: 15px;
        @include box-shadow;

        &:hover {
            @include box-shadow-hover;
        }

        &-pic {
            width: 335px;   
            height: 175px;
            border-top-right-radius: 15px;
            border-top-left-radius: 15px;
            object-fit: cover;
        }
    }

    &__title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &-text {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            margin-left: 15px;
            height: 50px;
            margin-top: -10px;

            h3 {
                font-size: 1.4rem;
            }

            p {
                font-size: 1.4rem;
                margin-top: -12px;
            }
        }

        &-heart {
            .far {
            align-items: center;
            align-self: center;
            font-size: 1.8rem;
            margin-right: 25px;
            margin-top: 15px;

                &:hover {
                    display: none;
                }
            }

            .fas {
                color: $secondary;
                display: none;
                align-items: center;
                align-self: center;
                font-size: 1.8rem;
                margin-right: 25px;
                margin-top: 15px;
            }
        }
    }

}

.footer {
    display: flex;
    flex-direction: column;
    background: $footercolor;
    color: white;
    width: 100%;

    &__content {
        display: flex;
        flex-direction: column;
        align-self: center;
        width: 350px;
    
        &-title {
            font-family: $fontohmyfood;
            font-size: 1.5rem;
            margin-left: 25px;
            margin-top: 30px;
        }

        &-nav {
            font-size: 1.3rem;
            margin-left: 25px;
            margin-top: 10px;
            line-height: 75%;

            .fa-utensils {
                padding-right: 10px;
                font-size: 1.2rem;
            }
            
            .fa-hands-helping {
                padding-right: 5px;
                font-size: 1.1rem;
            }
        }
    }
}



