@import "./Base/fonts.scss";
@import "./Layout/header.scss";
@import "./Abstracts/variables.scss";
@import "./Abstracts/mixins.scss";
@import "./Abstracts/breakpoints.scss";
 
* {
    font-family: roboto , sans-serif ;
    box-sizing: border-box;
}

:root {
    font-size: 12px;
}


body {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.whitelink {
    text-decoration: none;
    color: white;
}


.pinkbutton {
    text-decoration: none;
    width: 220px;
    height: 50px;
    background: linear-gradient(135deg, $secondary, $primary);
    border-radius: 25px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.3rem;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 55px;
    text-align: center;
    transform: scale(1);
    transition: transform 600ms;
    @include box-shadow;

    &:hover {
        transform: scale(1.1);
        @include box-shadow-hover;
    }
}

header {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    h1 {
        font-family: $fontohmyfood;
        text-align: center;
        font-size: 2.4rem;
        background: rgb(255, 255, 255);
    }

    .fa-arrow-left {
        position: absolute;
        top: 25px;
        left: 25px;
        font-size: 1.5rem;
        color: black;
    }

    main {
        background: $backgroundcolor;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        
        p {
        padding: 15px;
        margin-top: -4px;
        background: #eaeaea;
        font-size: 1.3rem;
        font-weight: bold;
        border-top: 3px solid #cecece;
        width: 100%;
        height: 55px;
        }
        h2 {
            font-size: 2rem;
            font-weight: bolder;
            padding: 0px 60px;
            background: $backgroundcolor;
            margin: 0;
        }
        #descript {
            font-size: 1.4rem;
            padding: 20px 30px;
        }
        i {
            color: $footercolor;
            padding-right: 10px;
            text-align: center;
            font-size: 1.3rem;
        }
    }
}
        
#fonction {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    &__title {
        align-self: flex-start;
        margin-left: 20px;
        margin-top: 50px;
        font-size: 2rem;

        @include md {
            align-self: center;
            margin-left: 0px;
            margin-top: 30px;
            margin-bottom: 30px;
            padding: 4px 15px;
            border-top: 2px dashed $secondary;
            border-bottom: 2px solid $primary;
            border-bottom-right-radius: 25px;
            border-top-left-radius: 25px;
            border-bottom-left-radius: 25px;
            border-top-right-radius: 25px;
        }
    }
}


.fonction__button {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    height: 75px;
    background: $backgroundcolor;
    @include box-shadow;
    margin-bottom: 25px;
    position: relative;
    border-radius: 15px;
    transform: scale(1);
    transition: transform 800ms;

    @include lg {
        justify-content: center;
    }

    

    &:hover {
        background: #fafafa;
        transform: scale(1.05);
        @include box-shadow-hover;

        i {
            color: $primary;
        }
    }

    &-number {
        width: 24px;
        height: 24px;
        background: $primary;
        border-radius: 12px;
        position: absolute;
        top: 28px;
        left: -10px;
        display: flex;
        justify-content: center;
        align-items: center;

        @include lg {
            width: 44px;
            height: 44px;
            top: 18px;
            border-radius: 22px;
        }

        p {
            color: white;
            font-size: 1.3rem;

            @include lg {
                font-size: 1.5rem;
            }
        }
    }

    &-logo {
        margin-left: 40px;
        color: #7e7e7e;
        font-size: 1.8rem;

        @include lg {
            margin-left: 0px;
            font-size: 2.5  rem;
        }
    }

    &-text {
        font-size: 1.1rem;
        margin-left: 25px;

        @include lg {
            font-size: 1.3rem;
        }
    }
}


.restaurants {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: $backgroundcolor;
    margin-top: 45px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;

    @include md {
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding-bottom: 20px;
    }

    &__head {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;

        &-title {
            width: min-content;
            
        }
    }

    h2 {
        align-self: flex-start;
        margin-left: 20px;
        margin-top: 50px;
        font-size: 2rem;

        @include md {
            text-align: center;
            align-self: center;
            margin-top: 30px;
            margin-bottom: 30px;
            padding: 4px 15px;
            border-top: 2px dashed $secondary;
            border-bottom: 2px solid $primary;
            border-bottom-right-radius: 25px;
            border-top-left-radius: 25px;
            border-bottom-left-radius: 25px;
            border-top-right-radius: 25px;
        }
    }

    &__sample {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 335px;
        height: 250px;
        margin-bottom: 18px;
        border-radius: 15px;
        @include box-shadow;

        @include md {
            margin-bottom: 50px;
        }

        @include lg {
            min-width: 40%;
            margin-left: 50px;
            margin-right: 50px;
        }

        

        &:hover {
            @include box-shadow-hover;
        }

        &-pic {
            width: 335px;   
            height: 175px;
            border-top-right-radius: 15px;
            border-top-left-radius: 15px;
            object-fit: cover;
        }
    }

    &__title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &-text {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            margin-left: 15px;
            height: 50px;
            margin-top: -10px;

            h3 {
                font-size: 1.4rem;
            }

            p {
                font-size: 1.4rem;
                margin-top: -12px;
            }
        }

        &-heart {
            .far {
            align-items: center;
            align-self: center;
            font-size: 1.8rem;
            margin-right: 25px;
            margin-top: 15px;

                &:hover {
                    display: none;
                }
            }

            .fas {
                color: $primary;
                display: none;
                align-items: center;
                align-self: center;
                font-size: 1.8rem;
                margin-right: 25px;
                margin-top: 15px;
            }
        }
    }

}

.footer {
    display: flex;
    flex-direction: column;
    background: $footercolor;
    color: white;
    width: 100%;

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 350px;

        @include md {
            width: 100%;
        }
    
        &-title {
            font-family: $fontohmyfood;
            font-size: 1.5rem;
            margin-left: 25px;
            margin-top: 30px;

            @include md {
                margin-top: 15px;
                margin-left: 0px;
                font-size: 2rem;
            }
        }

        &-nav {
            font-size: 1.3rem;
            margin-left: 25px;
            margin-top: 10px;
            line-height: 75%;

            @include md {
                display: flex;
                flex-direction: row;
                width: 80%;
                justify-content: space-evenly;
            }

            .fa-utensils {
                padding-right: 10px;
                font-size: 1.2rem;
            }
            
            .fa-hands-helping {
                padding-right: 5px;
                font-size: 1.1rem;
            }
        }
    }
}

.header__picture {
    display: flex;
    height: 260px;

    img {
        object-fit: cover;
        max-height: 100%;
        width: 100%;
        z-index: -10;
    }
}

.menupage {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $backgroundcolor;
    border-top-right-radius: 35px;
    border-top-left-radius: 35px;
    margin-top: -50px;

    &__head {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin-top: 20px;

        @include md {
            justify-content: space-around;
        }

        &-title {
            margin-left: 20px;

            h2 {
                font-family: $fontohmyfood;
                font-size: 2.2rem;
                padding: 5px 5px;

                @include md {
                    border-top: 2px dashed $secondary;
                    border-bottom: 2px dashed $primary;
                    border-bottom-right-radius: 20px;
                    border-top-left-radius: 20px;
                    border-bottom-left-radius: 3px;
                    border-top-right-radius: 3px;
                }
            }
        }

        &-heart {
            .far {
            align-items: center;
            align-self: center;
            font-size: 2rem;
            margin-right: 40px;
            margin-top: 20px;

                &:hover {
                    display: none;
                }

                @include md {
                    padding: 6px 12px;
                    border-top: 2px dashed $secondary;
                    border-bottom: 2px dashed $primary;
                    border-bottom-right-radius: 20px;
                    border-top-left-radius: 20px;
                }
            }

            .fas {
                color: $primary;
                display: none;
                align-items: center;
                align-self: center;
                font-size: 2rem;
                margin-right: 40px;
                margin-top: 20px;
            }
        }
    }
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title__blueline {
    display: flex;
    height: 3px;
    width: 40px;
    margin-top: -1px;
    margin-left: 20px;
    background-color: $tertiary;
}


.bloc__menu {
    display: flex;
    flex-direction: column;
    width: 100%;

    @include md {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 40px;
    overflow: hidden;
    opacity: 0;

    @include md {
        max-width: 50%;
    }

    @include lg {
        max-width: 33%;
    }

    h2 {
        margin-left: 20px;
        margin-top: 2px;
        margin-bottom: 5px;
        font-size: 1.4rem;
        
    }

    &__sample {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: white;
        margin-top: 15px;
        margin-left: 14px;
        margin-right: 14px;
        border-radius: 12px;
        @include box-shadow;
        height: 70px;
        overflow: hidden;

        h3 {
            font-size: 1.4rem;
            margin-left: 10px;
            margin-top: 11px;
            margin-bottom: -11px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        &-descript {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            p {
                font-size: 1.2rem;
                margin-left: 10px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }

            h3 {
                font-size: 1.2rem;
                margin-right: 20px;
                margin-top: 14px;
            }
        }
    }
}

.entrees {
    animation: fondu_bas;
    animation-duration: 800ms;
    animation-fill-mode: forwards;
    transform: translateY(100px);

    @keyframes fondu_bas {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
            transform: translateY(0px);
        }
    }
}

.plats {
    animation: fondu_bas;
    animation-duration: 800ms;
    animation-fill-mode: forwards;
    animation-delay: 300ms;
    transform: translateY(100px);

    @keyframes fondu_bas {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
            transform: translateY(0px);
        }
    }
}

.desserts {
    animation: fondu_bas;
    animation-duration: 800ms;
    animation-fill-mode: forwards;
    animation-delay: 600ms;
    transform: translateY(100px);

    @keyframes fondu_bas {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
            transform: translateY(0px);
        }
    }
}

#command__button {
    margin-bottom: 30px;
    align-self: center;
    opacity: 0;
    animation: fondu_bas;
    animation-duration: 800ms;
    animation-fill-mode: forwards;
    animation-delay: 900ms;
    transform: translateY(100px);

    @keyframes fondu_bas {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
            transform: translateY(0px);
        }
    }

    @include md {
        justify-content: center;
        margin: auto;
    }
}