header {
    margin: 0 auto;
    text-align: center;
    h1 {
        font-family: shrikhandregular;
        text-align: center;
        font-size: 2.4rem;
        margin-bottom: -5px;
    }
    & + p {
        padding: 15px 30%;
        background: #eaeaea;
        font-size: 1.3rem;
        font-weight: bold;
        border-top: 3px solid #cecece;
    }
    i {
        color: #353535;
        padding-right: 10px;
        text-align: center;
        font-size: 1.3rem;
    }
}
